/* Background default color */
body {
    background-color: #e6e6e6;
}

/* Background circle */
.background__circle {
    z-index: -2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 5vh;
    left: 45vh;
    animation: background-circle-scale 2s ease-in-out forwards;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes background-circle-scale {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(50);
    }
}

/* Background circle colors */
.green {
    background-color: #A1C6A7;
}

.red {
    background-color: #9C3046;
}

.blue {
    background-color: #394582;
}

/* Header config */
.header {
    display: flex; 
    text-align: left;
    justify-content: space-between;
    align-items: center;
    margin: 0 60vh 0 40vh;
}

/* Selected navbar option config */
.navbar__menu--selected {
    text-decoration: none; 
    font-size: 28px;
    font-weight: bold;
}

/* Navbar option config */
.navbar__menu {
    text-decoration: none; 
    color: black;
    font-size: 28px;
    position: relative;
    display: inline-block;
}

/* Navbar underline hover effect */
.navbar__menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0.3s ease;
}

.navbar__menu:hover::after {
    width: 110%;
}

/* Navbar hover color */
.underline__green::after {
    background-color: #A1C6A7;
}

.underline__red::after {
    background-color: #9C3046;
}

.underline__blue::after {
    background-color: #394582;
}

/* Main Text syntax */
.main__text {
    font-size: 26px;
    text-align: justify;
}

.main__text--default {
    margin: 20vh 60vh 0 60vh;
}

/* Highlight Circle config */
.highlight__circle {
    z-index: -1;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: expand__main__circle 2s ease forwards;
}

@keyframes expand__main__circle {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 650px;
        height: 650px;
    }
}

/* WIP - ICOD page */
.highlight__circle--index {
    left: 58%;
    top: 49%;
}

.highlight__circle--icod {
    left: 42%;
    top: 49%;
}

.image__paul {
    border-radius: 50%;
    margin: 5vh 10vh 0 30vh;
}

.text__paul {
    margin: 16vh 60vh 0 0;
    font-size: 26px;
    text-align: justify;
}

.main__container {
    display: flex;
}

.image__dieter {
    border-radius: 50%;
    margin: 5vh 30vh 0 10vh;
    height: 442px;
}

.text__dieter {
    margin: 16vh 10vh 0 30vh;
    font-size: 26px;
    text-align: justify;
}
